@import './assets/styles/colors.scss';
@import './assets/styles/fonts.scss';
@import './assets/styles/navbar.scss';
@import './assets/styles/jobs.scss';
*,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: $light-gray;
	font-family: $mont-serrat;
	font-size: $page-font-size;
}

.App {
	width: 100%;
	margin-bottom: 8rem;
}
